/* ==UserStyle==
@name           Unified Discord
@namespace      github.com/openstyles/stylus
@version        3.5.1
@description    Uses one of the nitro themes as a base to create the ultimate dark mode experience
@author         MurderAxo
@preprocessor	stylus
@var checkbox hideImages "Force Unload Images" 0

@var checkbox bdm "Better Dark Mode" 1
@var checkbox hideBetaChip "Hide Beta Chips" 1
@var checkbox desaturateFolders "Desaturate Closed Folders" 1
@var checkbox disableMarkdown "Don't Render Markdown" 0

@var select null "" {"null":"null",}

@var color unreadChannel "Unread Channel" rgb(255,127,255)
@var color activeChannel "Active Channel" rgb(174, 174, 255)
@var color mentionedMessageBackground "Mentioned Color" rgba(133, 60, 154, 0.38)

@var select null1 "" {"null":"null",}

@var checkbox enableSeaSalt "Enable Custom Background" 0
@var number background_size "Background size" 1650px
@var number people_x "People X-Pos" -50px
@var number people_y "People Y-Pos" 0px
@var number nowPlaying_x "NowPlaying X-Pos" -1240px
@var number nowPlaying_y "NowPlaying Y-Pos" 0px;
==/UserStyle== */
@-moz-document domain("discord.com") {
    :root {
        --bg_image_url: url("https://cdn.discordapp.com/attachments/1064520811588878346/1066841239766454353/seasalt.blush.jpg"); // Image URL
        --background_size: background_size px; // Image scale
        --people_x: people_x px; // Center image X position
        --people_y people_y px; // Center image Y position
        --nowPlaying_x: nowPlaying_x px;
        --nowPlaying_y: nowPlaying_y px;
    }

    .managedReactiveScroller-1LjJZ5 {
        scrollbar-width: none!important
    }
    .modeUnread-3Cxepe .channelName-3KPsGw,
    .modeUnread-3Cxepe .icon-2W8DHg {
        color: unreadChannel!important;
        font-weight: bold!important
    }
    .unreadRelevant-2f-VSK {
        background: unreadChannel!important;
    }
    .modeSelected-3DmyhH .channelName-3KPsGw,
    .modeSelected-3DmyhH .icon-2W8DHg {
        color: activeChannel;
    }
    .badge-3UWq-U path {
        color: #ff0026
    }
    #message-username-1066772533535326238 rect {
        color: skyblue;
    }
    .managedReactiveScroller-1lEEh3,
    .auto-2K3UW5,
    .container-1NXEtd,
    .scrollerBase-_bVAAt,
    .userPanelInnerThemed-2xZFjl .scrollerBase-1Pkza4,
    .scroller-3X7KbA,
    .sidebarRegionScroller-FXiQOh,
    .contentRegionShownSidebar-fHXkEg,
    .scrollerBase-1Pkza4 {
        scrollbar-width: none;
    }

    .hasBanner-2IrYih .header-3OsQeK {
        z-index: 999!important
    }
    .scroller-1ox3I2 .content-yjf30S > div {
        background: transparent!important
    }
    .anchor-1MIwyf path,
    .toolbar-3_r2xA .anchorUnderlineOnHover-2qPutX {
        display: none
    }
    .downloadButton-2HLFWN,
    .downloadHoverButtonIcon-16xasX path {
        display: block!important;
        fill: white!important;
        z-index: 9999!important;
    }
    .buttons-uaqb-5 > .grow-2sR_-F {
        display: none
    }

    .tree-3agP2X,
    .guilds-2JjMmN,
    .container-2o3qEW,
    .members-3WRCEx {
        transition: all!important;
        transition-duration: 500ms!important;
    }
    .layout-1qmrhw {
        transition-duration: 300ms!important;
    }
    .mentioned-Tre-dv {
        background-color: mentionedMessageBackground;
    }

    if enableSeaSalt {
        .scroller-hE2gWq {
            color: transparent!important; // background: url("https://cdn.discordapp.com/attachments/1064520811588878346/1066837597848096938/seasalt.jpg") rgb(89, 38, 38);
            background-size: 790px;
            background-position: -75px
        }
        .interactive-2zD88a {
            background: rgba(39, 40, 46, 0.7)
        }
        .peopleColumn-1wMU14 {
            background: var(--bg_image_url);
            background-size: var(--background_size);
            background-position: var(--people_x), var(--people_y);
            border: 0px solid black!important;
        }
        .container-1oAagU,
        .nowPlayingColumn-1eCBCN {
            background: var(--bg_image_url);
            background-size: var(--background_size);
            background-position: var(--nowPlaying_x), var(--nowPlaying_y);
            border: 0px solid black!important;
        }

        .peopleListItem-u6dGxF {
            background: rgba(0, 0, 0, 0.68);
            padding-left: 10px;
            padding-right: 10px;
        }
        .marginTop8-24uXGp {
            background: rgba(0, 0, 0, .68);
            color: white!important;
            padding: 3px;
        }
        .peopleListItem-u6dGxF:hover {
            background: rgba(56, 56, 56, .68);
            padding-left: 10px;
            padding-right: 10px;
        }
        .marginTop8-24uXGp:hover {
            background: rgba(32, 32, 32, .68);
            color: white!important;
            padding: 3px;
        }
    }

    if hideImages {
        .originalLink-Azwuo9 {
            display: none!important
        }
        .clickableWrapper-2WTAkL img {
            display: none!important;
        }
        .clickableWrapper-2WTAkL {
            // background-color: rgba(83, 0, 0, 0.05)
            display: none;
        } // img {display:none}
    }
    if bdm {
        .input-2m5SfJ,
        .inner-2pOSmK,
        .interactive-2zD88a,
        .section-3G9aLW,
        .title-31SJ6t,
        .container-ZMc96U, // .themed-Hp1KC_,
        .theme-dark .themed-Hp1KC_,
        .replyBar-1oi75v {
            background: #242833!important
        }
        .container-YkUktl {
            background: #242833!important
        }
        .attachButton-1ijpt9,
        .buttonContainer-2lnNiN {
            background: #242833;
            color: white!important;
        }
        .buttons-uaqb-5 > .grow-2T4nbg {
            display: none
        }
        .slateContainer-3x9zil,
        .sansAttachButton-1ERHue,
        .scrollbarGhost-dCZKgZ,
        .scrollableContainer-15eg7h,
        .scrollableContainer-15eg7h,
        .newMosaicStyle-35X6XO,
        .channelTextArea-1VQBuV,
        .clipContainer-31nYlH,
        .container-1zzFcN,
        .background-3d_SjE,
        .fieldList-in8WkP {
            background: #242833!important;
        }

        .fullWidth-3M-YBR,
        .button-1EGGcP,
        .root-u9h3Ui,
        .button-3bklZh,
        .iconButtonSize-1-pz2t {
            background: hsl(224, 17%, 19%)!important;
        }

        .container-2RRFHK {
            background-image: linear-gradient(0deg, rgba(29, 33, 42, 1) 100%, rgba(20, 16, 21, 1) 0%)!important;
            background-size: 1920px 1080px
        }

        .spoilerText-2G40u0 {
            background: black!important
        }

        .managedReactiveScroller-1lEEh3,
        .container-3YcgdM,
        .auto-2K3UW5,
        .container-1NXEtd,
        .scrollerBase-_bVAAt,
        .userPanelInnerThemed-2xZFjl .scrollerBase-1Pkza4,
        .scroller-3X7KbA,
        .sidebarRegionScroller-FXiQOh,
        .contentRegionShownSidebar-fHXkEg,
        .fade-27X6bG,
        .scrollerInner-2PPAp2,
        .layout-1qmrhw,
        .clickable-28SzVr,
        .membersWrap-3NUR2t,
        .container-2o3qEW,
        .peopleColumn-1wMU14,
        .scroller-hE2gWq,
        .header-DdKz5e,
        .content-1OG56Q,
        .header-1ffhsl,
        .header-1c1AhF,
        .container-1Lk8p7 > div > div,
        .container-x8Y1ix,
        .inputWrapper-2K8ds1 .input-3O04eu,
        .premiumContainer-3GGa8Q,
        .auto-2TJ1RH, // .thin-RnSY0a,
        .rootWithShadow-2hdL2J,
        .userInfoSection-1gptv0,
        .managedReactiveScroller-1LjJZ5,
        .customScroller-m1-jZn,
        .stickyHeader-1Sunlx,
        .titleContainer-3fPic2,
        .header-JUTO-g,
        .descriptionBox-SKGNgB,
        .directoryModal-YJsOMv,
        .modalContent-2VwiUI,
        .footerSeparator-3U8YsT,
        .upload-vLbqu-,
        .vc-plugins-card,
        .noChannel-1GDIAZ,
        .searchBar-3TnChZ,
        .outline-3kFzf8,
        .contentWrapper-3vHNP2, .listItems-6eZzQ1, .categorySection-3j71bm, .smallDecorationPreviewsContainer-2R9zvq, .presetDecorationImg-2qqgr2, .decorationPreview-273BXH, .decorationGridItem-3J_11G, .feature-2IUcBI, .card-2xlCYc, .padded-2NSY6O .gemIndicatorContainer-PqApbX, .detailsBlock-24pLFz, .promotionCard-mo7ClH, .card-2guEcY, .previewMessage-2g_aBv {
            background: linear-gradient(0deg, rgba(29, 33, 42, 1) 100%, rgba(20, 16, 21, 1) 0%)!important;
            scrollbar-width: none!important
        }
        
        .gemWithoutLabel-1od40y path {
            fill:white
        }
        
        .feature-2IUcBI, .card-2xlCYc, .detailsBlock-24pLFz, .accountProfileCard-lbN7n- {
            filter: drop-shadow(0px 0px 10px #000000);
        }
        
        .profileCustomizationPreview-3zZw6E {
            filter: drop-shadow(0px 5px 35px #000000);
        }
        
        .inputWrapper-2K8ds1 .input-3O04eu,
        .title-1_TkpU,
        .subtitle-3m-md1,
        .footerTitle-3Bslxi,
        .text-PdAsFQ,
        .title-OdeD-o,
        .subtitle-1cc8Nz,
        .sizeMin-3Yqxk5 .contents-3NembX,
        .title-2Giw-4,
        .subtitle-bIoUVX,
        .defaultMarginlabel-26Urq5,
        .header-1lOVWt,
        .active-1j5w_A .platformName-2q088w,
        .platformName-2q088w,
        .footer-2TRYcZ {
            color: white!important
        }
        .layout-1qmrhw:hover {
            background: hsl(222, 18%, 20%)!important;
            transition: all 1s
        }
        .layout-1qmrhw {
            border: none!important
        }
        .chatContent-3KubbW {
            background: rgba(29, 33, 42, 1)
        }
        .themed-Hp1KC_ {
            background: none!important
        }
        .scroller-1ox3I2 .content-yjf30S > div {}
        .scroller-1ox3I2,
        .fade-27X6bG .content-yjf30S,
        .form-3gdLxP {
            background: none!important;
        }
        .text-3S7XCz {
            color: rgb(234, 198, 255);
        }
        .typingDots-1Y8dki {
            padding-left: 26px!important
        }
        .expandedFolderBackground-1kSAf6 .theme-dark.custom-theme-background .expandedFolderBackground-1kSAf6 {
            background: #2a2a33!important
        }

        .modeSelected-3DmyhH .content-1gYQeQ {
            background: #2b313e
        }

        .expandedFolderIconWrapper-3RwQpD {
            background: none!important;
        }

        .expandedFolderBackground-1kSAf6.collapsed-uGXEbi,
        .expandedFolderBackground-1kSAf6.collapsed-uGXEbi.hover-3m7-WT,
        .enable-forced-colors .expandedFolderIconWrapper-3RwQpD,
        .expandedFolderBackground-1kSAf6.collapsed-uGXEbi.hover-3m7-WT {
            background: none!important
        }

        .folderEndWrapper-3KO8ks,
        .folder-241Joy, .actionButton-3-B2x- {
            background: none!important;
        }
        .twitterLink-1pG6U6 {
            display: none
        }
        .problems-CvGwpb div {
            padding-left: none!important;
            margin-left: none!important;
            padding-right: 25px!important
        }
        .problemsText-1DBHh5 {
            display: none
        }
        .text-2bYgPB {
            display: none
        }
        .form-3gdLxP {
            right: 19px;
            background: none!important;
            color: none!important
        }
        /* .scrollableContainer-15eg7h {width:1px} */
        .channelTextArea-1VQBuV {
            left: 20px!important;
            border-radius: 10px 10px!important
        }
        .scrollableContainer-15eg7h,
        .inner-NQg18Y,
        .editor-H2NA06,
        .attachButton-1ijpt9 {
            z-index: 999!important; // overflow: visible!important;
            border-radius: 10px 10px!important
        }
        .members-3WRCEx {
            // height: 99999999px!important
        }
        .threadSuggestionBar-3ExSyc {
            display: none
        }
        .textAreaWithoutAttachmentButton-1as0NS, .radioPositionLeft-27wZ8M, .accountProfileCard-lbN7n-, .lookFilled-GPyucw {
            /*             z-index: 1!important; */
            overflow-y: scroll!important;
            scrollbar-width: none;
            /*             height:500px; */
            height: 99%!important;
            background: linear-gradient(0deg, rgb(35, 40, 51) 100%, rgba(20, 16, 21, 1) 0%)!important;
            /*             height:fit!important */
        }
        #vc-spotify-player {
            background: linear-gradient(0deg, rgb(35, 40, 51) 100%, rgba(20, 16, 21, 1) 0%)!important;
        }
        .bioTextArea-dDGOeC .inner-NQg18Y {
            /*     display:none */
            right: 35px;
            overflow: visible!important
        }
        .flairContainer-xF7I3K {
            right: 35px!important
        }
        .bioTextArea-dDGOeC .buttonContainer-2lnNiN {
            display: none
        }
        .theme-dark .bioTextArea-dDGOeC,
        .bioTextArea-dDGOeC,
        .scrollableContainer-15eg7h {
            padding-left: 0px!important;
            overflow: visible!important;
            background: none
        }
        
        .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .selected-26oxtA, .selected-1sf9UK, .highlight-3DSi7b, .container-3tKtM_, .field-21XZwa > .grow-2T4nbg, .fieldButtonList-28BYbB .grow-2T4nbg, .cameraWrapper-nG8dpo   {
            background:linear-gradient(0deg, rgb(43, 49, 62) 100%, rgb(39, 32, 41) 0%)!important;
        }
        
        .selected-1sf9UK, .field-21XZwa > .grow-2T4nbg, .fieldButtonList-28BYbB .grow-2T4nbg  {
            filter:brightness(1.5)!important
        }
        
        .field-21XZwa:hover > .grow-2T4nbg:hover, .fieldButtonList-28BYbB:hover .grow-2T4nbg:hover {
            filter:brightness(1.75)!important
        }
    }
    
    if hideBetaChips {
        .tabBarItemContainer-2HdIlr .baseShapeRound-3epLEv {display:none}
    }
    
    if desaturateFolders {
        .closedFolderIconWrapper-3tRb2d {
            background:linear-gradient(0deg, rgb(43, 49, 62) 100%, rgb(39, 32, 41) 0%)!important;
        }
    }
    
    if disableMarkdown {
        .markup-eYLPri h1, .markup-eYLPri h2, .markup-eYLPri h3 {
            font-size: 100%!important;
            line-height: 1rem!important;
            white-space: break-spaces;
            overflow-wrap: break-word;
            user-select: text;
            color: var(--text-normal);
            margin-left: -72;
            padding-left: 72;
            border-top-color: currentcolor;
            border-top-style: none;
            border-right-color: currentcolor;
            border-right-style: none;
            border-bottom-color: currentcolor;
            border-bottom-style: none;
            border-left-color: currentcolor;
            border-left-style: none;
            border-image-outset: 0;
            border-image-repeat: stretch;
            border-image-slice: 100%;
            border-image-source: none;
            border-image-width: 1;
            font-weight: inherit;
            font-style: inherit;
            font-family: inherit;
            vertical-align: baseline;
            outline-color: currentcolor;
            outline-style: none;
            outline-width: 0px;
            text-indent: 0px;
            position: relative;
            overflow-x: hidden;
            overflow-y: hidden;
        }
    }
}
