* {
	/* Unified */
	--background_colour: hsl(227, 15%, 6%);
	--chip_colour: hsl(227, 19%, 11%);
	--unified_accent: #9b6ef4;
	--custom_inactive_colour: rgb(133,133,133);
	--custom_foreground_colour: white;
	--modal_popup_colour: hsl(227, 15%, 15%);

	/* Override main colours */
	--background-base: hsl(227, 15%, 6%) !important;
	--background-highlight: hsl(227, 15%, 11%) !important;
	--background-press: #000;
	/*--background-elevated-base: hsl(227, 15%, 11%)!important;
	--background-elevated-highlight: hsl(227, 15%, 11%)!important;
	--background-elevated-press: hsl(227, 15%, 16%)!important;*/
	--background-tinted-base: #ffffff1a;
	--background-tinted-highlight: #ffffff24;
	--background-tinted-press: #ffffff36;
	--text-base: #fff;
	--text-subdued: #b3b3b3;
	--text-bright-accent: var(--unified_accent) !important;
	--text-negative: #f3727f;
	--text-warning: #ffa42b;
	--text-positive: var(--unified_accent) !important;
	--text-announcement: #4cb3ff;
	--essential-base: #fff;
	--essential-subdued: #7c7c7c;
	--essential-bright-accent: var(--unified_accent) !important;
	--essential-negative: #ed2c3f;
	--essential-warning: #ffa42b;
	--essential-positive: var(--unified_accent) !important;
	--essential-announcement: #4cb3ff;
	--decorative-base: #fff;
	--decorative-subdued: #292929;
}

/* Expand user PFP */
figure[data-testid="user-widget-avatar"], figure.main-userWidget-hasAvatar {
	scale: 1.5;
}

/* Lyrics */
.e7eFLioNSG5PAi1qVFT4,
.gqaWFmQeKNYnYD5gRv3x,
._Wna90no0o0dta47Heiw,
.nw6rbs8R08fpPn7RWW2w,
.SruqsAzX8rUtY2isUZDF,
.EhKgYshvOwpSrTv399Mw .BXlQFspJp_jq9SKhUSP3,
.o4GE4jG5_QICak2JK_bn {
	background: var(--background_colour) !important;
}

.aeO5D7ulxy19q4qNBrkk {
	filter: brightness(0.25);
}

._Wna90no0o0dta47Heiw::after,
.cLkUmr {
	background: none !important;
}

._Wna90no0o0dta47Heiw {
	top: 25vh;
}

.O7ooKKJG0MArEwDgD6IV,
.hS_lrRHiW4BSWL8WcE8Q {
	display: none;
}

.BXlQFspJp_jq9SKhUSP3 {
	text-align: center !important;
}

/* Hides sponsors */
.sponsor-text,
.sponsor-logo__image {
	display: none !important;
}

.eFyQzR {
	display: none;
}

/* Top of the UI */
.R69APjfNV0o9tAbfrWZf,
.obd_bH64Snp1npdw29XM {
	background: var(--chip_colour) !important;
}

button[aria-label="Friend Activity"] {
	display: none !important;
}

/* Top bar */
.S4OmZ_IZexmZ5dasPqW5 {
	background: transparent !important;
}

.coBkWVskipFo8KxLKief {
	background: var(--background_colour) !important;
}

/* Icons */
.bMBuKn path,
.bjlVXn path,
.cNvoOe path,
.ivomLs path {
	fill: black !important;
}

.mkQEqlUoJ9kghcMfT49m .os-scrollbar,
.mkQEqlUoJ9kghcMfT49m div.os-scrollbar,
._iSFa0Kl_AlpaG8l_VLJ,
.PkOz5g82CaoKk1J3GX0e {
	display: none !important;
}

/* FullUI popups */
.uUYNnjSt8m3EqVjsnHgh,
.dbKIqeJaR5jYCnOeeDJt,
.encore-light-theme,
div[data-testid="playlist-edit-details-modal"] {
	background: var(--modal_popup_colour);
}

input[data-testid="playlist-edit-details-name-input"],
textarea[data-testid="playlist-edit-details-description-input"],
button[data-testid="playlist-edit-details-save-button"] * {
	background: var(--chip_colour)!important
}

button[data-testid="playlist-edit-details-save-button"] * {
	color: white!important
}

.encore-light-theme h2 {
	color: black!important
}

.main-playlistEditDetailsModal-disclaimer {
	display: none!important
}

/* Context menus */
.main-contextMenu-menu {
	background: var(--modal_popup_colour)
}

.main-contextMenu-menuItemButton[aria-checked="true"] * {
	color: var(--unified_accent);
	fill: var(--unified_accent)
}

.U_nX_1rJoqQSWPJRE6zb {
	background: lighten(modal_popup_colour, 5) !important;
}

.encore-light-theme h2 {
	filter: invert();
}

.encore-light-theme button {
	color: white;
}

/* PLAYLIST UI AND PLAYER UI */
.rezqw3Q4OEPB1m4rmwfw > .contentSpacing,
.qJOhHoRcFhHJpEQ2CwFT,
section,
.main-view-container__scroll-node-child,
.HsbczDqu9qjcYr7EIdHR,
.BL__GuO2JsHMR6RgNfwY > .contentSpacing,
.gHImFiUWOg93pvTefeAD.xYgjMpAjE5XT05aRIezb,
.gHImFiUWOg93pvTefeAD,
.xYgjMpAjE5XT05aRIezb,
.contentSpacing.jzhwZKbfx4vrC_MYd_7c.QyANtc_r7ff_tqrf5Bvc.Shelf,
.E4q8ogfdWtye7YgotBlN.contentSpacing,
.QuHe04rU4bj0Z5U9E2Tk,
.UvXqRORKQr_N3jlgGTcS,
.ifVI2CEdOZGgMWIUN2Cw,
.jtqtOeRP46XAlHWx4C0D,
.ylBRlfNqGnzVa4kjUQGP,
.ZbDMGdU4aBOnrNLowNRq,
.IkRGajTjItEFQkRMeH6v,
.udArIAqnfUQPQew2VAns,
._W_0W9Uld1vxrRfsgdQR,
.paiZmlAHHhmZonuGJRAr,
.HjPqU_UW2egr14mRSom9,
.fFvRIGtMIgsOLVSq_JNS,
.scnRZypJsyXH1tjPg6uM > div,
.XiVwj5uoqqSFpS4cYOC6,
.main-view-container__mh-footer-container,
._2ajKWDiy6YvJu5wo8I1g,
.paiZmlAHHhmZonuGJRAr,
.lHJd4oSttKLxkxuoZ0Lr,
.wM72343CksOCaL3bZvKK,
.EmeHQXR87mUskYK6xEde,
.yvZooOj0rpfRS__cAUCo,
.R69APjfNV0o9tAbfrWZf,
.obd_bH64Snp1npdw29XM,
.YourLibraryX > div,
.rezqw3Q4OEPB1m4rmwfw,
.gKtc3TdowDTXBaVESi1D,
.Rz6JI4bCxJVeSWe6LtEX,
.fEvxx8vl3zTNWsuC8lpx,
.qG4q41T8PJl0SkVgUeJc,
.R2w_sH83CJU9Yhnu0xyt,
.CU0wnmWejIvyEsRRtSac,
.PiyAiXdQULEnWAHP0tu1,
div[id="recent-searches-dropdown"] *,
.artist-artistAbout-container {
	background: var(--background_colour);
}

button.main-globalNav-navLink,
.search-searchCategory-carouselButton,
button[aria-label="Create"],
.tLjX9htIKD_OCmEX01UN,
.main-dropDown-dropDown,
div[aria-label="Current device"] {
	background: var(--chip_colour)!important;
}

.x-toggle-indicatorWrapper, .x-settings-section {
	--spice-button: var(--unified_accent) !important;
	--text-bright-accent: var(--unified_accent) !important;
	--text-positive: var(--unified_accent) !important;
	--essential-bright-accent: var(--unified_accent) !important;
	--essential-positive: var(--unified_accent) !important;
}

canvas[aria-label="Equalizer"] {
	filter: hue-rotate(121deg);
}

.qltNPvInlw2koZA_iXAw svg[data-selected="true"] {
	fill: var(--unified_accent)
}

.DuvrswZugGajIFNXObAr .epWhU7hHGktzlO_dop6z,
.x-progressBar-fillColor, .x-progressBar-fillColor:hover {
	background: var(--unified_accent) !important;
}

/* Fix weird UI issues from the above block */
.contentSpacing.O0AN8Ty_Cxd4iLwyKATB,
.CmR9tHJ5ta6oWJlKBm3k,
.CmR9tHJ5ta6oWJlKBm3k,
span[data-encore-id="text"],
.Areas__HeaderSideArea-sc-8gfrea-1, HeaderSideArea, .x-entityImage-imagePlaceholder, .x-entityImage-imageContainer{
	background: transparent !important;
}

/* "By uploading an image"... */
.g4NoSm4nlTuArQvfAaDa,
.zGbjZMZ1DTx4futEbN9l {
	display: none;
}

button[data-testid="playlist-edit-details-save-button"] {
	top: 10px;
}

.JaGLdeBa2UaUMBT44vqI,
.c0CddR8wF7kDxvU6uM8B,
.dMhJaxli87_22jb_3d9x {
	background: var(--chip_colour);
}

/* Profile details */
.aM3plU4zzDqjWlvUHGYb,
.so0bdX3oZH6YW5_nGxIR {
	background: var(--background_colour);
}

/* Floating column header */
._2ajKWDiy6YvJu5wo8I1g,
.facDIsOQo9q7kiWc4jSg,
.T1xI1RTSFU7Wu94UuvE6 {
	background: var(--background_colour) !important;

	if minimal_floating_header {
		top: 0px !important;
	}
}

.facDIsOQo9q7kiWc4jSg {
	if minimal_floating_header {
		display: none;
	}
}

/* Verified artist */
.CmR9tHJ5ta6oWJlKBm3k {
	display: none;
}

/* Ticket sale things */
.XgeTnLs82tTjczDR6oKn,
.IUWOW7ZOUwEs57jTIQRP {
	background: var(--chip_colour) !important;
}

/* Search Dropdown */
#search-dropdown *,
.SjhDNg4bQRQmIJAba47Z {
	background: var(--background_colour) !important;
}

.SjhDNg4bQRQmIJAba47Z:hover {
	background: var(--chip_colour) !important;
}

div[data-testid="top-result-card"] div {
	background: transparent;
}

.UnwG2v9ISmcUhnjKj22Y .jVBuxI {
	background: var(--chip_colour) !important;
}

/* CONNECT TO DEVICE PANE */
.W3E0IT3_STcazjTeyOJa,
.h0XG5HZ9x0lYV7JNwhoA,
.ffFwfKcPDbmAPLXzxzKq,
.W3E0IT3_STcazjTeyOJa,
.fNXmHtlrj4UVWmhQrJ_5,
div[aria-labelledby="device-picker-header"],
.icNf66tgG3uxDMbCCIaN,
.AAdBM1nhG73supMfnYX7 {
	background: var(--background_colour) !important;
}

.tippy-arrow,
.mkQEqlUoJ9kghcMfT49m .os-scrollbar,
.XiVwj5uoqqSFpS4cYOC6,
.facDIsOQo9q7kiWc4jSg,
.main-view-container__mh-footer-container,
.qSTDtICR1fiIGRni1cwy,
.YIJxiTuPgMQav316cRqP,
.mjprSb2e1tKJpqwvgFSh,
.XdJAEkP3WXzUL5URB0ZX {
	color: hsl(227, 15%, 15%) !important;
}

/* Connected Device UI */
.qSTDtICR1fiIGRni1cwy,
.YIJxiTuPgMQav316cRqP,
.mjprSb2e1tKJpqwvgFSh,
.XdJAEkP3WXzUL5URB0ZX {
	background: hsl(227, 15%, 15%) !important;
}

.T1xI1RTSFU7Wu94UuvE6,
.hIFR8WDm_54EEIa1gwpC {
	filter: opacity(1) !important;
	background: hsl(227, 15%, 15%) !important;
}

/* PLAYLIST SELECTION UI */
.main-view-container__scroll-node .os-content,
.L9xhJOJnV2OL5Chm3Jew,
.oNjdJbGQ9ypf7KR0nYJW,
.ibrRlYShsgThsh8VNS8Q,
*[data-overlayscrollbars-viewport="scrollbarHidden overflowXHidden overflowYScroll"] {
	background: var(--background_colour) !important;
}

/* Foreground elements on the right sidebar */
.LunqxlFIupJw_Dkx6mNx,
.oaNVBli46GtVjaQKB15g,
.qbOrWcMUhSri1nPkZLQA,
.l2PpoXJouAgqFCuNT3iB,
.QkOkUShDYWFx5Cz40Bcn,
.GTmlByXpJj7V6AwVq0Vk,
.Ai_McRq9wJEYK21w8nX_,
.IgTMXVbZtqtZwu3GZASd {
	background: hsl(227, 15%, 10%) !important;
}

/* SIDEBAR */
.tUwyjggD2n5KvEtP5z1B,
.Ozitxbqs1vcOukDz3GDw {
	background: hsl(227, 15%, 5%) !important;
}

.McwcCfBLSuXa5UDU1IMw {
	display: none;
}

.jb9xD5ECTqKFK02qe3HZ,
.g3f_cI5usQX7ZOQyDtA9,
.Z35BWOA10YGn5uc9YgAp {
	background: transparent !important;
}

/* CONTEXT MENUS */
#context-menu,
button.wC9sIed7pfp47wZbmU6m,
.SboKmDrCTZng7t4EgNoM,
.encore-dark-theme,
.NbcaczStd8vD2rHWwaKv,
.wlb3dYO07PZuYfmNfmkS {
	background: modal_popup_colour !important;
}

button.wC9sIed7pfp47wZbmU6m:hover {
	background: lighten(modal_popup_colour, 5) !important;
}

/* Hover Cards */
div[class*="CardButton-sc"]:hover {
	background: hsl(227, 15%, 17%) !important;
}

/* PLAYER UI */
.OCY4jHBlCVZEyGvtSv0J {
	background: hsl(227, 15%, 5%) !important;
}

/* HEADERS ON PLAYLISTS */
.E4q8ogfdWtye7YgotBlN {
	background: var(--background_colour) !important;
}

.CoLO4pdSl8LGWyVZA00t {
	background: linear-gradient(
		180deg,
		hsl(217, 18%, 6%) 0%,
		hsla(288, 14%, 7%, 0) 100%
	) !important;
}

.bk509U3ZhZc9YBJAmoPB,
.rsaJ_PD5Wsx9a9H2IyV_,
#context-menu,
.ErSD7TARZzk270zuVjoi,
.HVCCFeUiHVwZVv74p34a .os-viewport-native-scrollbars-invisible,
.hwP4Oum2PB76b8jigI {
	background: var(--background_colour) !important;
}

/* Chips */
span[class*="LegacyChip"] {
	background: var(--chip_colour) !important;
	color: white
}

/* Equalizer */
.FulR95cAh4QPdw6wUeRw {
	background: var(--chip_colour) !important;
}

/* Setting chips */
.zrvvPyoxE6wQNqnu0yWA {
	background: var(--chip_colour) !important;
}

/* Containers */
.L1qvKGTZ3gTJuTMowxPQ {
	background: var(--chip_colour) !important;
}

/* Playerbar tweaks */
.vW9NFcNIj8useE43Vx9G:before,
.E1ikFpkPVaoLplbQdrTP:after {
	display: none;
}

button[aria-label="Looks like we don't have the lyrics for this song."] {
	display: none;
}

/* Hide playlist gradients */
.XVz4BMGP5zAEE5p90mYK,
.yhlH4Dsjqw56Z58EOwvQ,
.Bdcf5g__Rug3TGqSdbiy,
.PeLrpasyfBW8ql_bmoAi {
	display: none;
}

/* Toggle thumb */
.es9mguuOfkp6pBe1Bjlw {
	background: #1d003c;
	cursor: pointer;
}

/* Most buttons */
.encore-bright-accent-set,
.e-91000-button-icon-only--small path {
	fill: var(--custom_foreground_color);
	color: var(--custom_foreground_color);
}

/* Playerbar - fix icons being themed when they shouldn't be */
button[data-testid="control-button-repeat"][aria-checked="false"] path {
	fill: var(--custom_inactive_colour) !important;
}

button[aria-label*="Enable Shuffle"] svg path,
button[aria-label*="Enable Shuffle"] span svg path * {
	fill: var(--custom_inactive_colour) !important;
	color: var(--custom_inactive_colour) !important;
}

.kWONUS,
.dpREpp,
.QavgDs_52SpJ2rw0LNYz,
.fipMme,
.Ar1CZ7qjPHuIJY0cI56W .btn,
.iSbqnFdjb1SuyJ3uWydl .btn,
.h4HgbO_Uu1JYg5UGANeQ .btn,
.eSg4ntPU2KQLfpLGXAww .btn,
.lro6AjUrZFH6zxjmOGg0 .encore-bright-accent-set,
.encore-bright-accent-set,
.SPC4uzYXJmknkCGKpxHw path,
button[data-testid="control-button-playpause"] span {
	background-color: var(--unified_accent) !important;
}
.Ar1CZ7qjPHuIJY0cI56W .btn {
	scale: 60%;
	filter: grayscale(1);
}
.iSbqnFdjb1SuyJ3uWydl .btn,
.h4HgbO_Uu1JYg5UGANeQ .btn {
	scale: 60% !important;
}

.K7fGF95OD9aI3zdYnFXg path,
.ilmalU,
.Xmv2oAnTB85QE4sqbK00 path,
.RK45o6dbvO1mb0wQtSwq,
.GlueDropTarget--episodes .KAZD28usA1vPz5GVpm63,
.rRF_r7EyCHjZv058JACi path,
.SPC4uzYXJmknkCGKpxHw path,
.control-button-heart path,
.volume-bar__icon-button .gQUQL,
.NdVm10_yLWkkgq87jOMk path,
.CCeu9OfWSwIAJqA49n84 path,
.iSbqnFdjb1SuyJ3uWydl .UIBT7E6ZYMcSDl1KL62g,
.NTJM_mh36C5kJ5oO8eac path,
.I_aApN9pSlbGcpLtFQWw path,
.Vz6yjzttS0YlLcwrkoUR .gQUQL,
.KVKoQ3u4JpKTvSSFtd6J path,
.fn72ari9aEmKo4JcwteT .gQUQL,
.mnipjT4SLDMgwiDCEnRC path,
.uWvwXlS0Da1bWsRX6KOw,
.etChWo,
.fn72ari9aEmKo4JcwteT path,
.volume-bar__icon-button .ldgdZj,
.o_wMyH9_LbAmIwlVqsF0 path,
.cVy6fGx6QtJbCnID7XdB path,
.Vz6yjzttS0YlLcwrkoUR .ldgdZj,
.VpYFchIiPg3tPhBGyynT,
.n5XwsUqagSoVk8oMiw1x,
.hQUEHs,
.bbVjXa,
.mwpJrmCgLlVkJVtWjlI1 > .KAZD28usA1vPz5GVpm63 path,
.volume-bar__icon-button path,
.Vz6yjzttS0YlLcwrkoUR path,
.FZhaXNtbN3Crwrgd0TA7 path,
.jfwwWS.tGKwoPuvNBNK3TzCS5OH path,
.tyZF5iwaJ6J5raHWkxwu,
.DMWoYmJsYdFjGQbeGH9Q .dYnaPI,
.control-button .kcUFwU,
.hYdsxw .bneLcE,
.gqJnng path,
.gacXSA path,
.control-button-feedback .dYnaPI,
.dYnaPI,
.Svg-sc-ytk21e-0,
.kLkTcI,
.cSWBDsMjkH62GXIXo6mQ,
.hYdsxw .cAMMLk,
.i_FRcsaqNCEJmoyObIP0,
.active .encore-text-body-medium-bold,
.hNvCMxbfz7HwgzLjt3IZ .encore-text-body-medium-bold,
.w0nWe_59HwsG7nQLoibF,
.vW9NFcNIj8useE43Vx9G path,
.bLLOzN.E1ikFpkPVaoLplbQdrTP path,
.KAZD28usA1vPz5GVpm63 path,
.control-button .e-91000-baseline path,
.ZbFkATBbLkWh2SHMXDt6 path,
.z0zJ798TVq97lZgdRT2_ path,
.encore-internal-color-text-bright-accent,
.IZq_xBKdh88HLD4QY90X path,
.nozebc1PGSbzmePU25qY path,
.Qt226Z4rBQs53aedRQBQ .fprjoI path,
path[d="M15.53 2.47a.75.75 0 0 1 0 1.06L4.907 14.153.47 9.716a.75.75 0 0 1 1.06-1.06l3.377 3.376L14.47 2.47a.75.75 0 0 1 1.06 0"],
button.niXChlbt7kxslMUdfwu9[aria-checked="true"][role="menuitemradio"],
path[d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m11.748-1.97a.75.75 0 0 0-1.06-1.06l-4.47 4.47-1.405-1.406a.75.75 0 1 0-1.061 1.06l2.466 2.467 5.53-5.53z"],
path[d="M15 15H1v-1.5h14V15zm0-4.5H1V9h14v1.5zm-14-7A2.5 2.5 0 0 1 3.5 1h9a2.5 2.5 0 0 1 0 5h-9A2.5 2.5 0 0 1 1 3.5zm2.5-1a1 1 0 0 0 0 2h9a1 1 0 1 0 0-2h-9z"],
button[data-restore-focus-key="device_picker"] path,
path[d="M3.3 1a.7.7 0 0 1 .7.7v5.15l9.95-5.744a.7.7 0 0 1 1.05.606v12.575a.7.7 0 0 1-1.05.607L4 9.149V14.3a.7.7 0 0 1-.7.7H1.7a.7.7 0 0 1-.7-.7V1.7a.7.7 0 0 1 .7-.7h1.6z"],
path[d="M12.7 1a.7.7 0 0 0-.7.7v5.15L2.05 1.107A.7.7 0 0 0 1 1.712v12.575a.7.7 0 0 0 1.05.607L12 9.149V14.3a.7.7 0 0 0 .7.7h1.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-1.6z"] {
	fill: var(--unified_accent) !important;
	color: var(--unified_accent) !important;
}

path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7H5.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7h-2.6z"],
e-9890-button-primary > path[d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"] {
	fill: black!important
}

button[data-testid="control-button-queue"]:after {
	display: none!important
}

.NKUrT1GciYXAEEUtagN1 .fprjoI path {
	fill: var(--unified_accent);
}

.vnCew8qzJq3cVGlYFXRI path {
	fill: black !important;
}

.QavgDs_52SpJ2rw0LNYz {
	display: none;
}
.N3juGUCH1EhEzmffNHAp {
	background: var(--unified_accent) !important;
	filter: brightness(0.7) contrast(1.5);
}
.tP0mccyU1WAa7I9PevC1 .uPxdw,
.tP0mccyU1WAa7I9PevC1,
.OF_3F0SQCsBtL1jSTlTA,
.rRF_r7EyCHjZv058JACi .uPxdw {
	color: var(--unified_accent) !important;
	transition: all 0.5s;
}
.rRF_r7EyCHjZv058JACi .uPxdw:hover {
	filter: brightness(1.2);
	scale: 1.1;
	transition: all 0.5s;
}
.epWhU7hHGktzlO_dop6z {
	background: var(--unified_accent);
}

/* Like Button */
.vnCew8qzJq3cVGlYFXRI {
	background: var(--unified_accent) !important;
	transition: all 0.7s ease;
}

.vnCew8qzJq3cVGlYFXRI:hover {
	background: var(--unified_accent) !important;
	filter: brightness(1.2);
	scale: 1.1;
	transition: all 0.5s;
}

/* Active Track */
.iSbqnFdjb1SuyJ3uWydl .t_yrXoUO3qGsJS4Y6iXX.standalone-ellipsis-one-line,
.y6bXimbi8JAcblOFxTap .iTEtJB {
	color: var(--unified_accent) !important;
}
.fwTMCeAaUoWDj9WcQbgy path {
	fill: var(--unified_accent);
}
.iSbqnFdjb1SuyJ3uWydl {
	background: ct_active_song;
}

/* Connected Device Screen */
.Rpvqb,
*[aria-label="Connect to a device"]::after,
.hYdsxw::after {
	color: var(--unified_accent) !important;
}

.oCa5Np4laJc3s5P2uUqw * {
	color: var(--unified_accent) !important;
	top: 1px;
	font-size: 24px;
}

.FpmhhFL8lCsiyh3X0fjK {
	display: none;
}

.KAZD28usA1vPz5GVpm63.EHxL6K_6WWDlTCZP6x5w::after {
	background: var(--unified_accent) !important;
}

.uWvwXlS0Da1bWsRX6KOw path,
.uWvwXlS0Da1bWsRX6KOw,
.INitzTSjokOMEJOc6P2H path,
.IbmaxRtjqCjqTBpFwCgw svg,
.WFRr38dFOxh75JyzSTj5 svg,
.IbmaxRtjqCjqTBpFwCgw svg,
*[aria-label="Connect to a device"]::after,
.hYdsxw::after {
	fill: var(--unified_accent) !important;
}

div .WFRr38dFOxh75JyzSTj5,
div .IbmaxRtjqCjqTBpFwCgw,
.WFRr38dFOxh75JyzSTj5 .encore-bright-accent-set .IbmaxRtjqCjqTBpFwCgw {
	background: none !important;
	fill: none !important;
	color: none !important;
}

div[aria-labelledby="listrow-title-0abd29c122030303983590690a927ed6eb2d8003 listrow-subtitle-0abd29c122030303983590690a927ed6eb2d8003"]:hover,
aria-labelledby="device-picker-section-heading ":hover,
.RowButton-sc-xxkq4e-0 .hIehTT:hover {
	background: transparent !important;
}

.KYkSwfV1FCtD15TMChbH {
	display: none;
}

/* Toggles */
.Js64TOfWtHksI6TQ6knT {
	background: var(--unified_accent) !important;
}

/* Playlist bar */
.main-entityHeader-backgroundColor, .main-entityHeader-backgroundColor:after, .main-actionBarBackground-background {
	background: transparent!important
}

.main-topBar-container:not(:has(.marketplace-tabBar-nav)) {
	display: none
}

.main-trackList-trackListHeaderStuck, .main-trackList-trackListHeader {
	background: var(--background_colour) !important;
	top: 0px!important
}

/* Lyrics Plus */
.lyrics-lyricsContainer-SyncedLyricsPage, .lyrics-lyricsContainer-Provider {
	background: var(--background_colour)!important
}

.lyrics-lyricsContainer-LyricsLine-active {
	color: var(--unified_accent)!important
}

.lyrics-lyricsContainer-LyricsLine {
	color: var(--chip_colour)
}

/* Marketplace fixes */
.marketplace-header {
	background: var(--background_colour);
	/*top: 8px!important*/
}

div[class*="marketplace-card"] {
	background: var(--chip_colour);
	border: none!important
}
